// You may turn on gaps between the slides. But beware: IE will not render transitions anymore then.
// Turn gaps on by providing a length unit, such as 10px for this variable.
$maxAmountOfSliderItems: 25 !default;
$gapBetweenSliderItems: false !default;
$gallery-border-color: #999 !default;

.gallery {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow:hidden;
  position:relative;
  z-index: 1;
  &>input {
    position:fixed;
    left:-100px;
    width: 1px;
    height: 1px;
    overflow:hidden;
  }
  &>label {
    width: auto;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    position:absolute;
    top: 0;
    bottom: 0;
    font-size: 5em;
    cursor: pointer;
    display:flex;
    align-items: center;
    transition: background-color 0.25s 1s, opacity 0.25s;
    padding-left:0.5rem;
    padding-right:0.5rem;
    &:hover {
      background-color: rgba(255,255,255,0.25);
      transition: background-color 0.25s, opacity 0.25s;
    }
  }
  &>label:after {
    width: auto;
    display: block;
    content: none;
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
  }
  // all slider items
  &>.first-item, &>.first-item ~ * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    display:block;
    width: 100%;
    height: auto;
    margin: 0;
    margin-left:0;
    z-index: -1;
  }
  // first slider item
  &>.first-item {
    transition: margin-left 0.5s;
    margin-left: 0;
  }

  & > input:checked:nth-child(1) ~ label:nth-of-type(2) {
    right: 0;
    opacity: 1;
    &:after {
      content: '>';
    }
  }

  @for $i from 1 to $maxAmountOfSliderItems {
    // depending on the checked input's position, we move the first item
    // it draws all following siblings to the left
    & > input:checked:nth-child(#{$i + 1}) ~ .first-item {
      @if $gapBetweenSliderItems {
        margin-left: calc(-#{$i * 100%} - #{$i * $gapBetweenSliderItems});
      } @else {
        margin-left: -#{$i * 100%};
      }

    }
    & > input:checked:nth-child(#{$i + 1}) ~ label:nth-of-type(#{$i}) {
      left: 0;
      opacity: 1;
      &:after {
        content: '<';
      }
    }
    & > input:checked:nth-child(#{$i + 1}) ~ label:nth-of-type(#{$i + 2}) {
      right: 0;
      opacity: 1;
      &:after {
        content: '>';
      }
    }
  }
}

@mixin touch-enabled-gallery {
  &>input {
    display: none;
  }
  &>label {
    display: none;
  }
  &>label:after {
    content: none;
  }
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  &>.first-item, &>.first-item ~ * {
    scroll-snap-align: center;
  }
}

.touch-enabled .gallery {
  @include touch-enabled-gallery;
}

@media (hover:none) {
  .gallery.touch-auto-detection {
    @include touch-enabled-gallery;
  }
}

// taken and adapted from
// https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll#answer-49278385
.touch-enabled .gallery.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}